<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IOT</title>
    <link href="/static/imgs/attnlg.jpg" rel="icon">
    <link href="/static/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center bg-gradient-primary justify-content-center" href="/home">
                <div class="sidebar-brand-icon">
                    <img src="/static/imgs/attnlg.jpg">
                </div>
                <div class="sidebar-brand-text mx-3">AMS</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Students
            </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap2"
                    aria-expanded="true" aria-controls="collapseBootstrap2">
                    <i class="fas fa-user-graduate"></i>
                    <span>Manage Students</span>
                </a>
                <div id="collapseBootstrap2" class="collapse" aria-labelledby="headingBootstrap"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manage Students</h6>
                        <a class="collapse-item" href="/students">View Students</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Attendance
            </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrapcon"
                    aria-expanded="true" aria-controls="collapseBootstrapcon">
                    <i class="fa fa-calendar-alt"></i>
                    <span>Manage Attendance</span>
                </a>
                <div id="collapseBootstrapcon" class="collapse" aria-labelledby="headingBootstrap"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manage Attendance</h6>
                        <a class="collapse-item" href="/attendance/take_attendance">Take Attendance</a>
                        <a class="collapse-item" href="/attendance/class_attendance">View Class Attendance</a>
                        <a class="collapse-item" href="/attendance/report">Report (xls)</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
        </ul>
        <!-- Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-gradient-primary topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="text-white big" style="margin-left:100px;"></div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-1 small"
                                            placeholder="What do you want to look for?" aria-label="Search"
                                            aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="/static/imgs/user-icn.png"
                                    style="max-width: 60px">
                                <span
                                    class="ml-2 d-none d-lg-inline text-white small"><b>{{session["teacher"]["name"]}}</b></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <!-- <a class="dropdown-item" href="/profile">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a> -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">
                                    <i class="fas fa-power-off fa-fw mr-2 text-danger"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->

                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">View Class Attendance</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a
                                    href="/attendance/class_attendance">View Class Attendance</a></li>
                        </ol>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Select date -->
                            <div class="card mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">View Class Attendance</h6>
                                </div>
                                <div class="card-body">
                                    <form method="post" action="/attendance/class_attendance">
                                        <div class="form-group row mb-3">
                                            <div class="col-xl-6">
                                                <label class="form-control-label">Select Date<span
                                                        class="text-danger ml-2">*</span></label>
                                                <input type="date" class="form-control" name="selected_date"
                                                    id="exampleInputFirstName" placeholder="Class Arm Name"
                                                    value="{{selected_date}}">
                                            </div>
                                        </div>
                                        <button type="submit" name="view" class="btn btn-primary">View
                                            Attendance</button>
                                    </form>
                                </div>
                            </div>

                            <!-- Table -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card mb-4">
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Class Attendance</h6>
                                        </div>
                                        <div class="table-responsive p-3">
                                            <table class="table align-items-center table-flush table-hover"
                                                id="dataTableHover">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th style="width: 5%; text-align: center;">#</th>
                                                        <th style="width: 10%; text-align: center;">ID</th>
                                                        <th style="width: 25%; text-align: center;">Name</th>
                                                        <th style="width: 25%; text-align: center;">Email</th>
                                                        <th style="width: 10%; text-align: center;">Status</th>
                                                        <th style="width: 25%; text-align: center;">Time</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for i in range(students|length) %}
                                                    <tr>
                                                        <td style="padding: 10px; text-align: center;">{{i+1}}</td>
                                                        <td style="padding: 10px; text-align: center;">
                                                            {{students[i]["student_id"]}}</td>
                                                        <td style="padding: 10px; text-align: center;">
                                                            {{students[i]["name"]}}</td>
                                                        <td style="padding: 10px; text-align: center;">
                                                            {{students[i]["email"]}}
                                                        </td>
                                                        {% if (not students[i]["attendance_time"]) or (students[i]["attendance_time"] == "") %}
                                                        <td style="padding: 10px; text-align: center; color: white; background-color: red;">
                                                            Absent
                                                        </td>
                                                        {% else %}
                                                        <td style="padding: 10px; text-align: center; color: white; background-color: green;">
                                                            Present
                                                        </td>
                                                        {% endif %}
                                                        <td style="padding: 10px; text-align: center;">
                                                            {{students[i]["attendance_time"]}}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Container Fluid-->
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white" style="padding: 10px;">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span> &copy;
                            <script> document.write(new Date().getFullYear()); </script>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>

        <!-- Scroll to top -->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>

    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/js/ruang-admin.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable 
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>
</body>

</html>